h1 {
    font-size: 23px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-align: center;
}
h2 { text-align: center; }

p.syn_description {
    font-size: 18px;
    text-align: justify;
    margin-left: 5%;
}

p.syn_selection {
    font-size: 18px;
    text-align: center;
    margin-left: 5%;
    font-style: italic;
}

body {
    margin-right: auto;
    margin-left: auto;
    background-color: #eeeeee;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 1% 5% 0% 5%;
}

div.syn_main {
    width:100%;
    text-align: justify;
    background-color: #eeeeee;
    border-style: inset;
    border-width: 5px;
    border-color: #999999;
}
 
div.syn_space {
    position: relative;
    width: 71%;
    margin: 0% 0% 0% 27%;
    height: 4px;
    background-color: #000000;
}

div.syn_padDiv {
    width: 94%;
    margin: 0px;
    padding: 20px 3%;
}

div.syn_one_third{
    height:85%;
    width:33%;
    float:left;
    text-align:center;
    line-height:200%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}
 
div.syn_left_half, div.syn_right_half {
    background-color: #e0e0e0;
    width:50%;
    text-align:center;
    line-height:200%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}

div.syn_left_half { float: left; }
div.syn_right_half { float:right; }

div#wrap {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}
